[mysqld]
# query_cache_limit=3M
# query_cache_size=32M
# query_cache_type=1

character-set-server=utf8mb4
# general_log=1

[mysql]
default-character-set=utf8mb4
[client]
default-character-set=utf8mb4
